{% extends "base.html" %}
{% load static %}
{% block title %}Log-in{% endblock %}
{% block content %}
{% block extra_head %}
<link href="{% static 'auth.css' %}" rel="stylesheet">
<link href="{% static 'styles.css' %}" rel="stylesheet">
{% endblock %}

<div class="page">
  <div class="container">
    <div class="left">
      <div class="login">Login</div>
      <div class="eula">Login to continue using the schedule</div>
    </div>
    <div class="right">
      <form class="form" method="post">
        {% csrf_token %}
        <p>{{ form.username }}</p>
        <p>{{ form.password }}</p>
        <p><input class ="Logins"  type="submit" value="Login"></p>
        <p class="message">Already registered? <a href="{% url 'regist' %}">Registered</a></p>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'animationweb.js' %}"></script>
{% endblock %}
